@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 14px;
}

button {
  background-color: rgb(251 146 60);
  padding: 0.7rem 1.5rem;
  border-radius: 1.625rem;
  color: white;
  font-size: 1rem;
  font-weight: bold;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  background-color: rgb(251 146 60);
}

button:hover {
  background-color: rgb(234 88 12);
}


input {
  outline: none;
  border: none;
  border-bottom: 1px solid #a6a6a6;
  padding: 0;
  padding-bottom: 4px;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #0d0d0d;
  background-color: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
  background-color: transparent !important;
  background-image: none !important;
  color: inherit !important;
  font-size: 1rem !important;
  line-height: 1.5rem !important;
}

input[type="text"] {
  font-size: 1rem !important;
  line-height: 1.5rem !important;
  background-color: transparent;
}

.loader {
  width: 40px; /* Adjust size as needed */
  height: 40px; /* Adjust size as needed */
  border: 3px solid rgb(251 146 60); /* Progress color */
  border-top: 3px solid transparent; /* Hide top border */
  border-radius: 50%;
  animation: spin 1s linear infinite; /* Animation duration and timing */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg); /* Full rotation */
  }
}
